<p id="notice"><%= notice %></p>

<h2 class="font-weight-light py-4">Grocery lists</h2>
<p class="lead">
  <%= Date.today.strftime("%B, %Y")%>
</p>

<% @grocery_lists.each do |list| %>
    <hr/>
      <%= link_to list do %>
      <div class="media">
        <div class="media-body">
          <div class="d-flex flex-row bd-highlight">
            <div class="bd-highlight col-md-4">
              <h3 class="font-weight-bold"><%= list.name %></h3>
            </div>
            <div class="bd-highlight col-md-4 pt-1">
              <%= link_to grocery_list_path(list), method: :delete  do %>
                <%= svg_tag("x.svg")%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <hr/>
<% end %>

<br>

<%= link_to new_grocery_list_path, class: "btn btn-outline-dark px-3" do %>
  <%= svg_tag("plus.svg")%>
  new list
<% end %>
