<!DOCTYPE html>
<html>
  <head>
    <title>Setso: Where the world cooks together</title>
    <link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%23ffffff%22></rect><path fill=%22%234a4a4a%22 d=%22M63.74 33.82L62.14 36.42Q61.66 37.30 60.66 37.30L60.66 37.30Q60.06 37.30 59.30 36.86Q58.54 36.42 57.44 35.88Q56.34 35.34 54.82 34.88Q53.30 34.42 51.22 34.42L51.22 34.42Q49.42 34.42 47.98 34.88Q46.54 35.34 45.52 36.14Q44.50 36.94 43.96 38.00Q43.42 39.06 43.42 40.30L43.42 40.30Q43.42 41.86 44.32 42.90Q45.22 43.94 46.70 44.70Q48.18 45.46 50.06 46.04Q51.94 46.62 53.92 47.28Q55.90 47.94 57.78 48.74Q59.66 49.54 61.14 50.74Q62.62 51.94 63.52 53.68Q64.42 55.42 64.42 57.86L64.42 57.86Q64.42 60.66 63.42 63.04Q62.42 65.42 60.46 67.16Q58.50 68.90 55.66 69.90Q52.82 70.90 49.10 70.90L49.10 70.90Q44.86 70.90 41.42 69.52Q37.98 68.14 35.58 65.98L35.58 65.98L37.26 63.26Q37.58 62.74 38.02 62.46Q38.46 62.18 39.18 62.18L39.18 62.18Q39.90 62.18 40.70 62.74Q41.50 63.30 42.64 63.98Q43.78 64.66 45.40 65.22Q47.02 65.78 49.46 65.78L49.46 65.78Q51.54 65.78 53.10 65.24Q54.66 64.70 55.70 63.78Q56.74 62.86 57.24 61.66Q57.74 60.46 57.74 59.10L57.74 59.10Q57.74 57.42 56.84 56.32Q55.94 55.22 54.46 54.44Q52.98 53.66 51.08 53.08Q49.18 52.50 47.20 51.86Q45.22 51.22 43.32 50.40Q41.42 49.58 39.94 48.34Q38.46 47.10 37.56 45.28Q36.66 43.46 36.66 40.86L36.66 40.86Q36.66 38.54 37.62 36.40Q38.58 34.26 40.42 32.64Q42.26 31.02 44.94 30.06Q47.62 29.10 51.06 29.10L51.06 29.10Q55.06 29.10 58.24 30.36Q61.42 31.62 63.74 33.82L63.74 33.82Z%22></path></svg>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description' content='<%= yield_meta_tag(:description, 'Food recipe development platform for cooks,  chefs and food enthusiats') %>' />
    <meta name='keywords' content='<%= yield_meta_tag(:keywords, 'food, recipe, shopping, shopping list, grocery, stokvel, cook, chefs') %>' />
    <meta property="og:title" content="Setso: Wherethe world cooks together" />
    <meta property="og:site_name" content="Setso" />
    <meta property="og:url" content="https://setso.plab.co.za/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Food recipe development platform for cooks,  chefs and food enthusiats" />
    <meta property="og:image" content="<%= asset_path("healthy-eating.png")%>" />
    <meta property="og:image:width" content="3333" />
    <meta property="og:image:height" content="2500" />
    <meta property="og:locale" content="en_ZA" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://setso.plab.co.za">
    <meta name='twitter:description' content='<%= yield_meta_tag(:description, 'Food recipe development platform for cooks,  chefs and food enthusiats') %>' />
    <meta name="twitter:image" content="<%= image_path("healthy-eating.png")%>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "layouts/navbar"%>
      <div class="col-xs-12 col-md-12">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
